*{
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}


body{
    background-color: #141414;
}



.wrap{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;

    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
}